body{
    margin: 0px;
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
}


header{
    background-color: black;
    margin-top: -20px;
    margin-bottom: -60px;
}

.logo{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-top: 1px solid #303030;
}

/*estilo icone do carrinho*/
.icon_carrinho{
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    margin-top: 20px;
    list-style: none;
}

/*estilo icone do sair*/
.icon_sair{
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 80px;
    margin-top: 20px;
    list-style: none;
}

/*Alinha e coloca cor no texto Outtlet PH*/
body > header > ol > li:nth-child(1) > a > h2{
    color: white;
    padding: 20px;
    margin-top: 20px;

}


body > h1{
    text-shadow: 4px 4px 4px rgb(70, 69, 69);
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background: black;
	color: white;
	border-style: outset;
	border-color: gray;
	height: 50px;
	width: 100px;
	font: bold15px arial,sans-serif;
	text-shadow: none;
    border-radius: 5px;
}


button:hover{
    background-color: white;
    color: black;
    text-shadow: 2px 2px 2px black;
}

input{ 
    width: 600px;
    height: 30px;
    border-radius: 5px;
    border-color: black;
}

textarea{
    width: 600px;
    height: 300px;
    border-radius: 5px;
    border-color: black;
}

/*Espaçamento e borda nos icones flutuantes*/
.whatsapp img{
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

/*Alinha e seta tamanho nos icones flutuantes*/
.whatsapp{
    text-align: right;
    float: right;
    width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
    position: fixed;
    margin-bottom: 25px;
}

.tamanho_tenis{
    background: #fff;
    border: 1px solid black;
    border-radius: var(--theme-border-radius);
    font-family: inherit;
    font-size: var(--font-14);
    font-weight: var(--font-medium);
    padding: 0 40px 0 20px;
    text-overflow: ellipsis;
    width: 100%;
}