body{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

header ol li{
    list-style: none;
}

header{
    background-color: black;
    margin-top: -25px;
    margin-bottom: -25px;
}


/*Estilo da logo*/
.logo{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-top: 1px solid #303030;
}


header h2{
    color: white;
    padding: 20px;
    font-weight: 500;

}

header ol li a{
    text-decoration: none;
}


.carrinho h2{
    color: black;
    text-align: center;
    text-shadow: 2px 2px 2px grey;
}

.prod_txt{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Alinha e seta tamanho nos icones flutuantes*/
.whatsapp{
    text-align: right;
    float: right;
    width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
    position: fixed;
    margin-bottom: 25px;
}


/*Espaçamento e borda nos icones flutuantes*/
.whatsapp img{
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}