body{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

header ol li{
    list-style: none;
}

header{
    background-color: black;
    margin-top: -25px;
    margin-bottom: -25px;
}


/*Estilo da logo*/
.logo{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-top: 1px solid #303030;
}

header h2{
    color: white;
    padding: 20px;
    font-weight: 500;
}

a{
    text-decoration: none;
}


.carrinho h2{
    color: black;
    text-align: center;
    text-shadow: 2px 2px 2px grey;
}

.btn{

    background: black;
	color: white;
	border-style: outset;
	border-color: gray;
	height: 30px;
	width: 150px;
	font: bold15px arial,sans-serif;
	text-shadow: none;
    border-radius: 5px;
    margin-left: 1%;
}

.txtCenter{
    text-align: center;
}


.bodycarrinho{
    background-color: gray;
    width: 50%;
    height: 50%;
    padding-bottom: 5px;
    margin-left: 1%;
}

.carrinhoTxt{
    color: rgba(221, 219, 219, 0.973);
    background-color: rgb(59, 59, 59);
    text-align: center;
}

#txt_quant{
    width: 30px;
	height: 30px;
    border: none;
    text-align: center;
    font-size: larger;
    display: inline-block;
    border-radius: 5px;
    background-color: gray;
}

.quantidade{
    border: 1px solid #000000;
    border-radius: 10px;
    margin-top: 10px;
    width: 92px;
    height: 32px;
    display: inline-block
}

.btn_quantidade{
    border: none;
    background: white;
    font-size: larger;
    border-radius: 5px;
    background-color: gray;
}

.table{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.vazio{
    text-align: center;
}

.btn:hover{
    background: rgb(15, 15, 15);
	color: white;
	border-style: outset;
	border-color: rgb(0, 0, 0);
	font: bold15px arial,sans-serif;
	text-shadow: 2px 2px 2px black;
    border-radius: 5px;
}

tbody{
    text-align: center;
}

.prod_txt{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Alinha e seta tamanho nos icones flutuantes*/
.whatsapp{
    text-align: right;
    float: right;
    width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
    position: fixed;
    margin-bottom: 25px;
}


/*Espaçamento e borda nos icones flutuantes*/
.whatsapp img{
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}