body{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(45deg,#000000,#808080,#000000);
}

.grid1{
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    max-width:800px ;
    margin: 0 auto;
    grid-gap: 20px;
 }
.grid1 > div:nth-child(n + 4){
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  align-items: center;
 }
.grid1 >div.anuncio{
    grid-column: 1;
    grid-row: 2/5;
    border-top: 10px solid tomato;
    display: block;
 }

