body{
    margin: 0px;
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

header{
    background-color: black;
    margin-top: -20px;
    margin-bottom: -60px;
}

.logo{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-top: 1px solid #303030;
}


/*estilo icone do carrinho*/
.icon_carrinho{
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

/*Alinha o icone carrinho lado superior direito*/
body > header > ol > li:nth-child(2) > a > img{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    margin-top: 20px;
    list-style: none;
}

/*Alinha e coloca cor no texto Outtlet PH*/
body > header > ol > li:nth-child(1) > a > h2{
    color: white;
    padding: 20px;
    margin-top: 20px;
}

/*Alinha nome, preço e botão*/
.info{
    list-style: none;
    position: absolute;
    right: 0;
    margin-right: 50px;
    text-align: center;
}

.descricao{
    position: absolute;
    bottom: 0;
    margin-left: 50px;
}

/*Cor do texto nome do produto*/
h3{
    color: rgb(44, 44, 44);
}


button{
    margin-top: 8px; 
    background-color: #000000; 
    text-overflow: ellipsis; 
    white-space: nowrap;
    color: white;
    width: 300px;
    cursor: pointer;
    height: 50px;
    text-shadow: 2px 2px 2px gray;
}

button:hover{
    background-color: white;
    color: black;
    text-shadow: 2px 2px 2px rgb(80, 79, 79);
}

/*Espaçamento e borda nos icones flutuantes*/
.whatsapp img{
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

/*Alinha e seta tamanho nos icones flutuantes*/
.whatsapp{
    text-align: right;
    float: right;
    width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
    position: fixed;
    margin-bottom: 25px;
}

.btn_quantidade{
    border: none;
    background: white;
    font-size: larger;
}

#txt_quant{
    border: none;
    text-align: center;
    font-size: larger;
    width: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.quantidade{
    border: 1px solid #000000;
    border-radius: 10px;
    margin-top: 10px;
    width: 120px;
    height: 40px;
    display: inline-block
}

select{
    width: 200px;
    height: 40px;
    text-align: center;
    font-size: medium;
    border-radius: 5px;
}

a{
    cursor: pointer;
    text-decoration: none;
}
