body{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(45deg,#000000,#808080,#000000);
}

img{
    max-width: 100%;
    display: block;
}

header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items:center ;
    flex-wrap: wrap;
    }
   
 .grid1{
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    max-width:800px ;
    margin: 0 auto;
    grid-gap: 20px;
 }
 .grid1 > div:nth-child(){
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  align-items: center;
 }
 .grid1 >div.anuncio{
    grid-column: 1;
    grid-row: 2/5;
    border-top: 10px solid tomato;
    display: block;
 }

 @media(max-width: 600px){
    .grid1{
        grid-template-columns: repeat(2, 1fr);
    }
    .grid1 > div:nth-child(n + 4){
        display: block;
    }
    .grid1 > div.anuncio{
        grid-column: auto;
        grid-row: auto;
        order: -1;
    }
}
.h1{
    text-align: center;
    margin-top: 100px;
}

.prod_border{
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 10px;
}

.select{
    border-radius: 5px;
    border-radius: 2px solid black;
    display: flex;
    justify-content: center;
    align-itens: center;
}

button{
    margin-top: 8px; 
    background-color: #000000; 
    text-overflow: ellipsis; 
    white-space: nowrap;
    color: white;
    width: 300px;
    height: 50px;
}

.text{
    font-weight: bold;
}

p{
    color: white;
}

li{
    display: inline-block;
    list-style: none;
    padding: 10px;
}

.insta{
    width: 30px;
    height: 30px;
}

.carrinho{
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}