* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

img{
    max-width: 100%;
    display: block;
}

header{
    background-color: black;
    margin-top: -20px;
    margin-bottom: -20px;
}


/*Estilo da logo*/
.logo{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-top: 1px solid #303030;
}


/*Coloca cor no texto no cabeçalho*/
header h2{
    color: white;
    padding: 20px;
    text-shadow: 2px 2px 2px gray;
}

/*Alinha o icone carrinho lado superior direito*/
header ol li a{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    list-style: none;
}

    
@media(max-width: 600px){
    .grid1{
        grid-template-columns: repeat(1, 1fr);
    }
    .grid1 > div:nth-child(){
        display: block;
    }
    .grid1 > div.anuncio{
        grid-column: auto;
        grid-row: auto;
        order: -1;
    }
}


.h1{
    text-align: center;
    padding: 20px;
    background-color: antiquewhite;
}

.h1 h1{
    text-shadow: 2px 2px 2px gray;
}

.prod_border{
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 10px;
}

.select{
    border-radius: 5px;
    border-radius: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    margin-top: 8px; 
    background-color: #000000; 
    text-overflow: ellipsis; 
    white-space: nowrap;
    color: white;
    width: 300px;
    cursor: pointer;
    height: 50px;
    text-shadow: 2px 2px 2px gray;
}
button:hover{
    background-color: white;
    color: black;
    text-shadow: 2px 2px 2px black;
}

.text{
    font-weight: 200;
    text-shadow: 2px 2px 2px black;
}

p{
    color: white;
}

/*Alinha e seta tamanho nos icones flutuantes*/
.whatsapp{
    text-align: right;
    float: right;
    width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
    position: fixed;
    margin-bottom: 25px;
}


/*Espaçamento e borda nos icones flutuantes*/
.whatsapp img{
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

/*Estilo do icone de carrinho de compra*/
.icon_carrinho{
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.carrinho-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.img_prod{
    width: 300px;
    height: 300px;
}