body{
    margin: 0px;
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

header{
    background-color: black;
    margin-top: -20px;
    margin-bottom: -40px;
}

.logo{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-top: 1px solid #303030;
}

/*estilo icone do carrinho*/
.icon_carrinho{
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

/*Alinha o icone carrinho lado superior direito*/
header ol li a{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    margin-top: 20px;
    list-style: none;
}

/*Alinha e coloca cor no texto Outtlet PH*/
body > header > ol > li:nth-child(1) > h2{
    color: white;
    padding: 20px;
    margin-top: 20px;
}

body > h1{
    text-align: center;
    text-shadow: 5px 5px 5px rgb(70, 69, 69);
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background: black;
	color: white;
	border-style: outset;
	border-color: gray;
	height: 50px;
	width: 100px;
	font: bold15px arial,sans-serif;
	text-shadow: none;
    border-radius: 5px;
}


button:hover{
    background-color: white;
    color: black;
    text-shadow: 2px 2px 2px black;
}

input{ 
    width: 600px;
    height: 30px;
    border-radius: 5px;
    border-color: black;
}


body > form > div > ul{
    list-style: none;
}



