<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outllet PH</title>
    <link rel="stylesheet" href="Css/estilo.css"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <div class="social">
            <ol>
                <li class="insta"><a href="https://www.instagram.com/outllet_ph/" target="_blank"><img src="image/instagram.png" alt="Instagram" ></a></li>
                <li><img src="image/header.jpeg" alt="Logo"></li>
                
            </ol>
            
        </div>
    </header>

 <div class="h1">
    <h1>Produtos</h1>
 </div>

    
                
  

    <section class="grid1">
        
        <div class="prod_border">
            <img src="https://drjfg1pv75pds.cloudfront.net/products2/d0cc83d3-7617-4dee-aa09-51d8f5e1e6f8.jpeg" alt="MIZUNO PRO 3" class="produtos">
            <p class="text">MIZUNO PRO 3</p>
            <p class="text">R$: 340,00</p>
            <a href="#"><button type="submit">COMPRAR</button></a>
        </div>

        <div class="prod_border">
            <img src="https://drjfg1pv75pds.cloudfront.net/products2/91cfc45a-8018-4330-999a-12826d5afbbe.jpeg" alt="MIZUNOS PRO 6">
            <p class="text">MIZUNOS PRO 6,7,8,9,X,11</p>
            <p class="text">por R$ 300,00</p>
            <a href="#"><button type="submit">COMPRAR</button></a>
        </div>

        <div class="prod_border">
            <img src="https://drjfg1pv75pds.cloudfront.net/products2/88db2e9b-e22d-4dfd-b153-da9b05bf1e6f.jpeg" alt="NIKE DUNK">
            <p class="text">NIKE DUNK</p>
            <p class="text">por R$ 150,00</p>
            <a href="#"><button type="submit">COMPRAR</button></a>
        </div class="prod_border">

        <div class="prod_border">
            <img src="https://drjfg1pv75pds.cloudfront.net/products2/85e8536f-6727-4f79-9b1d-5762e4e78bab.jpeg" alt="">
            <p class="text">NIKE TN 3</p>
            <p class="text">R$ 300,00</p>
            <a href="#"><button type="submit">COMPRAR</button></a>
        </div>

        <div class="prod_border">
            <img src="https://drjfg1pv75pds.cloudfront.net/products2/85e8536f-6727-4f79-9b1d-5762e4e78bab.jpeg" alt="">
            <p class="text">NIKE TN 3</p>
            <p class="text">R$ 300,00</p>
            <a href="#"><button type="submit">COMPRAR</button></a>
        </div>
        <div class="prod_border">
            <img src="https://drjfg1pv75pds.cloudfront.net/products2/85e8536f-6727-4f79-9b1d-5762e4e78bab.jpeg" alt="">
            <p class="text">NIKE TN 3</p>
            <p class="text">R$ 300,00</p>
            <a href="#"><button type="submit">COMPRAR</button></a>
        </div>
    </section>
	<script type="text/javascript">(function(n,r,l,d){try{var h=r.head||r.getElementsByTagName("head")[0],s=r.createElement("script");s.defer=true;s.setAttribute("type","text/javascript");s.setAttribute("src",l);n.neuroleadId=d;h.appendChild(s);}catch(e){}})(window,document,"https://cdn.leadster.com.br/neurolead/neurolead.min.js", "IBuOiWLXAZUza6zSrjbA5Fi1Z");</script>

    <footer></footer>
</body>
</html>