<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outllet PH</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <header>
        <img src="https://drjfg1pv75pds.cloudfront.net/covers/76a88e7d-3513-4f91-be9f-cb1219384b37.jpeg" alt="Deu ruim">
    </header>

    <select name="Ordenar por" id="">
        <option value="">Menor preço</option>
        <option value="">Maior preço</option>
        <option value="">Ordem alfabética</option>
        <option value="">Data de inclusão (mais antigo)</option>
        <option value="">Data de inclusão (mais recente)</option>
    </select>

    <section class="grid1">
        <h1>Produtos</h1>
        <div>
            <img src="https://drjfg1pv75pds.cloudfront.net/products2/d0cc83d3-7617-4dee-aa09-51d8f5e1e6f8.jpeg" alt="MIZUNO PRO 3" class="produtos">
            <p>R$:340,00</p>
            <p>MIZUNO PRO 3</p>
        </div>

        <div>
            <img src="https://drjfg1pv75pds.cloudfront.net/products2/91cfc45a-8018-4330-999a-12826d5afbbe.jpeg" alt="MIZUNOS PRO 6">
            <p>de R$ 380,00</p>
            <p>por R$ 300,00</p>
            <p>MIZUNOS PRO 6,7,8,9,X,11</p>
        </div>

        <div>
            <img src="https://drjfg1pv75pds.cloudfront.net/products2/88db2e9b-e22d-4dfd-b153-da9b05bf1e6f.jpeg" alt="NIKE DUNK">
            <p>de R$ 180,00</p>
            <p>por R$ 150,00</p>
            <p>NIKE DUNK ✅</p>
        </div>

        <div>
            <img src="https://drjfg1pv75pds.cloudfront.net/products2/85e8536f-6727-4f79-9b1d-5762e4e78bab.jpeg" alt="">
            <p>R$ 300,00</p>
            <p>NIKE TN 3</p>
        </div>
    </section>



    <footer></footer>
</body>
</html>